# Runtime dependencies
uvicorn
pydantic
fastapi
dotenv
pysoem
requests
numpy
scipy
opencv-python
psutil
pymodbus
httpx
posix-ipc; platform_system=="Linux"
aiohttp
# Development dependencies
build
pytest>=7.0
pytest-cov
tox
ruff
black
mypy