# Runtime dependencies
uvicorn
pydantic
fastapi
dotenv
pysoem
requests
numpy>=1.21.0,<2.0.0
scipy
opencv-python
pupil-apriltags
psutil
pymodbus==3.9.2
httpx
posix-ipc; platform_system=="Linux"
aiohttp
pytest
# Orbec SDK - poprawne markery dla wersji Pythona i platformy
./install/pyorbbecsdk-2.0.13-cp310-cp310-win_amd64.whl; platform_system=="Windows" and python_version>="3.10" and python_version<"3.11"
./install/pyorbbecsdk-2.0.13-cp310-cp310-linux_x86_64.whl; platform_system=="Linux" and python_version>="3.10" and python_version<"3.11"
./install/pyorbbecsdk-2.0.13-cp312-cp312-linux_x86_64.whl; platform_system=="Linux" and python_version>="3.12" and python_version<"3.13"
./install/pyorbbecsdk-2.0.13-cp312-cp312-win_amd64.whl; platform_system=="Windows" and python_version>="3.12" and python_version<"3.13"

# DEV
ruff
black
mypy
build