<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>System Monitoring Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
</head>
<body>
    <div class="container">
        <h1>System Monitoring Dashboard</h1>
        <div class="col-100">
            <div id="content">
                {% block content %}
    
                {% endblock %}
            </div>

            <div class="data">
                <h2>Alerts</h2>
                <div id="msg" class="alert alert-ok"></div>
            </div>
            <div class="logout-button-container">
                <a href="/logout" class="logout-button">Logout</a>
                <a href="/" class="return-button">Return</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/index-script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>